openapi: 3.1.0
info:
  title: Free Law Project / CourtListener REST Alerts Judges API
  description: The CourtListener REST API (operated by Free Law Project) provides programmatic access to case law, PACER data, the RECAP archive, oral arguments, judges, financial disclosures, citations, citation networks, alerts, tags, and visualizations.
  version: '4.3'
  contact:
    name: Free Law Project
    url: https://free.law/
servers:
- url: https://www.courtlistener.com/api/rest/v4
  description: CourtListener REST API v4
security:
- TokenAuth: []
tags:
- name: Judges
  description: Judges, positions, education, and political affiliations.
paths:
  /people/:
    get:
      summary: List judges and people
      operationId: listPeople
      tags:
      - Judges
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of people.
  /positions/:
    get:
      summary: List judicial positions
      operationId: listPositions
      tags:
      - Judges
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of positions.
components:
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'HTTP token authentication. Format: `Token <your-token>`.'
